@import '../../styles/main.scss';

.item-card{
    width: 240px;
    min-width: 150px;
    margin: 0 10px 10px 0;
    /*height: 250px;
    border: 2px dotted grey;*/

    &__title{
        font-size: 26px;
        font-weight: 700;
    }
    
    &__price{
        color: brown;
        font-size: 20px;
        font-weight: 600;
    }

    &__img{
        width: 50%;
    }
}