    /* Color Variables */
$html-bg-color: #D3D3D3;
$white: #fff;
$black: #000;
$primary: #34B2FF; /*$primary-rgb: 52,178,255;*/
$lightgrey: #E5E5E5;
$secondary: #074ECE;
$textcolor: #666666;
$titleDarkColor: #171614;
$backColor: #727270;

/* Font parameters */
$rem: 16;

    /* Size variables */
$headerHeight: 8vh;
$wContainer: 920px;
$breakPoint1: 1920px;