@import '../../styles/main.scss';

/*.ul-menu{
    padding-left: 28px;
    font-weight: 600;
    width: 360px;

    & li{
        padding-left: 28px;
        list-style: none;
        width: 100%;
    }

    & li a{
        color: black;
    }

    & li a:hover{
        color: darkorange;
    }
}*/